$header-height: 10em;
$merry-color: rgb(236,130,196);

* {
    margin: 0;
}

html {
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
    color: darkgrey;
}

a:hover {
    text-decoration: underline;
}

header {
    z-index: 1000;
    position: fixed;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    width: 100%;
    top: 0;
    height: $header-height;
    background-color: white;

    nav {
	z-index: -1000;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

	a#logo {
	    margin-right: auto;
	    img {
		width: $header-height;
	    }
	}

	ul {
	    display: inline-block;
	    list-style: none;
	    margin-right: 1em;
	}

	ul#menu li {
	    margin-right: 2em;
	}


	li {
	    display: inline-block;
	    a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
	    }
	}

	li.selected>a{
	    color: $merry-color;
	}
	
	li img {
	    width: 17px;
	}

	li.selected {
	}
    }

}

main {
    padding-top: $header-height;
    text-align: center;

    section {
	margin: 0 5em;

	p {
	    margin-bottom: 2ex;
	}

	// HOME PAGE
	div#home {
	    position: relative;

	    a.menu {
		position: absolute;
		text-transform: uppercase;
		font-size: 250%;
		background-color: white;
		padding: 1ex 2ex;
		border: 3px solid black;
		color: black;
	    }

	    a.menu:hover {
		background-color: grey;
		border: 3px solid white;
		color: white;
		text-decoration: none;
	    }

	    a#menu_labo {
		top: 60%;
		left: 5%;
	    }

	    a#menu_retail {
		top: 10%;
		left: 70%;
	    }

	    a#menu_rh {
		top: 90%;
		left: 60%;
	    }

	    img {
		margin-top: 4em;
		width: 60%;
	    }

	    img.home1 { }
	    img.home2 { display: none; }

	}

	div#contents {

	    margin: 5em;

	    h1 {
		font-size: 350%;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 1em;
	    }

	    h2 {
		margin-bottom: 1em;
		font-weight: normal;
		font-style: italic;
	    }

	    p {
	    }

	    span.hashtag {
		font-style: italic;
		font-size: 80%;
		font-weight: bold;
	    }
	}
    }
}

footer {
    padding-top: 3em;
    text-align: center;

    img {
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.5); /* FF3.5+ */
	-ms-transform: scale(0.5); /* IE9 */
	-o-transform: scale(0.5); /* Opera 10.5+ */
	transform: scale(0.5);
	/* IE6–IE9 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
    }
}
