<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type="javascript" src="/assets/js/util.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <title>Merry Company | {{ page.title }}</title>
  </head>
  <body>
    <main>
      <section>
        {{ content }}
      </section>
    </main>
    <header>
      <nav>
        <a id="logo" href="/">
          <img src="/assets/img/LOGO MERRY home.jpg" />
        </a>
        <ul id="menu">
          <li {% if page.url == "/contact.html" %}class="selected"{% endif %}>
            <a href="/projects.html">Contact</a></li>
          <li {% if page.url == "/about.html" %}class="selected"{% endif %}>
            <a href="/about.html">A Propos</a></li>
        </ul>
        <ul id="social">
          <li>
            <a href="https://www.soundcloud.com/mqtthiqs">
              <img src="/assets/img/LOGO IN noir.jpg" alt="Facebook" /></a>
          </li>
          <li>
            <a href="https://www.facebook.com/matthias.puech">
              <img src="/assets/img/LOGO FB noir.jpg" alt="Facebook" /></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC7K02QcN3yUfxS_n08W-i4A">
              <img src="/assets/img/LOGO INSTA noir.jpg" alt="Youtube"></a>
          </li>
          <li>
            <a href="https://twitter.com/mqtthiqs">
              <img src="/assets/img/LOGO TWITTER noir.jpg" alt="Twitter"></a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>

